:root {

    --fuchsia-pink-50: #fff2ff;
    --fuchsia-pink-100: #fee5ff;
    --fuchsia-pink-200: #fec9ff;
    --fuchsia-pink-300: #ff9ffe;
    --fuchsia-pink-400: #ff66fa;
    --fuchsia-pink-500: #fe2dff;
    --fuchsia-pink-600: #e80ced;
    --fuchsia-pink-700: #db07db;
    --fuchsia-pink-800: #a0089e;
    --fuchsia-pink-900: #820d7e;
    --fuchsia-pink-950: #590056;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-950: #020617;

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background: #171717;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-inline: 24px;
    max-width: 1200px
}

.header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
    width: 100%;
    gap: 12px;
}

.search {
    display: flex;
    width: 100%;
    max-width: 24rem;
    min-width: 200px;
    padding-block: 12px;
}



.icon_search {
    position: absolute;
    top: 0.625rem;
    left: 0.625rem;
    width: 1.25rem;
    height: 1.25rem;
    color: var(--slate-600);
    pointer-events: none;
}

.input_search {
    flex: 1;
    width: 100%;
    background: transparent;
    border: 1px solid var(--slate-200);
    color: var(--slate-700);
    font-size: 0.875rem;
    padding: 0.5rem 0.75rem;
    padding-left: 2.5rem;
    border-radius: 0.375rem;
    transition: border 0.3s ease, box-shadow 0.3s ease;

    &::placeholder {
        color: var(--slate-400);
    }

    &:hover {
        border-color: var(--slate-300);
    }

    &:focus {
        border-color: var(--slate-400);
        outline: none;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

}



.card_anime {
    position: relative;
    overflow: hidden;
    border-radius: 14px;
    /* aspect-ratio: 230 / 370; */

    img {
        /* height: 100%;
        width: 100%; */
        display: flex;
        width: 12.39063rem;
        height: 18.58594rem;
        object-fit: cover;
        animation: all 60s ease-in-out;
    }

    h3 {
        visibility: hidden;
        position: absolute;
        bottom: 12px;
        padding-inline: 12px;
        color: white;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.75rem;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    a {
        width: 100%;
        height: 100%;
        display: block;
    }

}

.card_anime:hover img {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.card_anime:hover .shadow {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(152, 16, 250, 0.70) 0%, rgba(173, 70, 255, 0.30) 50%, rgba(0, 0, 0, 0.00) 100%);
    transition: background 0.3s ease;
    position: absolute;
    top: 0;
}

.card_anime:hover h3 {
    visibility: visible;
}